<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.pocz.get_kerb_ticket</string>
    <key>Program</key>
    <string>renew_kerb.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>NetworkState</key>
      <false/>
    </dict>
    <key>StartInterval</key>
    <integer>35000</integer>
    <key>WorkingDirectory</key>
    <string>/Users/clange/autoKerb</string>
  </dict>
</plist>
